html {
  border: 8px solid #00a0c4;
  margin: 10px;
  height: 680px;
}
.post {
  border: none;
}
.post img {
  width: 70%;
  height:auto;
}
h2 {
  font-size: 26pt;
}
h3 {
  font-family: 'Anonymous Pro', monospace;
  color: red;
}
body {
  font-family: 'Bowlby One SC', cursive;
}
.blue-bg {
  background-color: #00a0c4;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
}
.red-bg {
  background-color: red;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
}
.name {
  height: 150px;
}

a:hover {
  border: 3px solid red;
  text-decoration: none;
  display: block;
}
.image a:hover {
  border: 3px solid red;
  text-decoration: none;
  display:inline;
}
.arrow a:hover {
  border: none;
  display:inline;
}

@media only screen and (max-width: 700px) {
  html {
    border: none;
  }
  div {
    margin: 10px !important;
  }
  h2 {
    font-size: 14pt;
  }
}
